// Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal6', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 'Orbuddy' Human Centered Design Project
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon

                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5.modal-img(src='assets/img/portfolio/orbuddy1.png', alt='...')
                            p.mb-2 Figure: Orbuddy prototype featuring [1] the cheek lights, [2] the belly lights, [3] friend circle lights, and [4] the hat.
                            hr
                            p.mb-4 OrBuddy Project
                            p.mb-2  This project was for a Human Centered Product Design class focusing on the early stages of product development. Super interesting class looking at the fundamentals of design and MVP's proving out product concepts. The class problem that weas given is a widespread concern of the public: excess sedentary behavior. An unhealthy sedentary lifestyle could lead to serious health issues. It is estimated that physical inactivity is the cause of 6% of the burden of disease from coronary heart disease, 7% of type 2 diabetes, and 10% of breast cancer. Inactivity causes 9% of all premature mortality.                 
                            img.img-fluid.rounded.mb-5.modal-img(src='assets/img/portfolio/orbuddy_storyboard.png', alt='...')
                            p.mb-2 Figure: Storyboard to justify product functionality.
                            |
                            p.mb-2 Young professionals (age 22-29) need a sustainably habit-building method of keeping their muscles loose. This demographic tends to see a steep decrease in physical activity in a short amount of time, which can have long-term negative impacts as they age. Products and services on the market currently do not address these young working professionals who don’t have a lot of opportunities or time in their schedules to be active, don’t have a pre-existing regular exercise regimen, and need external motivation through social means to introduce healthy lifelong habits for their long term health, physically and mentally, to keep their muscles loose and personal connections strong.
                            |
                            p.mb-2 We formed this product opportunity gap (POG) statement after generating our key social, economic, and technological (SET) factors. Socially, it is a trend that during tertiary education people are relatively active compared to when they start working and generally become more sedentary. This is due to a number of complicated factors such as having money to buy cars and not having to move once arriving at the workplace or not travelling to a workplace at all. In the economic sense, companies are investing more in the health of their employees to offset insurance payouts. This leads to a rise in demand for health products. The technology that we have today has huge potential to create very innovative devices in this field.
                            img.img-fluid.rounded.mb-5.modal-img(src='assets/img/portfolio/persona.png', alt='...')
                            p.mb-2 Figure: Persona map for Overly Sedentary Owen
                            |
                            p.mb-2 The final concept, Orbuddy, is a small desktop friend that reminds the user to take active breaks through gentle light notifications. A removable “hat” piece acts as an activity tracker that can be customized to the user’s personal taste. This piece docks on the Orbuddy base, an ovoid light with a friendly face, to record activity and register working status. The user can additionally register friends’ Orbuddy units to show their working statuses as well, providing additional motivation for the user to take breaks with their friends. A proof-of-concept prototype of this final concept was developed using 3D-printed parts and an Arduino nano circuit.
                            // YouTube Video Embed 2
                            .mb-4
                                iframe(width="100%" height="550" src="https://www.youtube.com/embed/0WEdHWXvitU?si=_wayFLS4ev894Aun" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
                            // Portfolio Modal - Text
                            p.mb-4
                                | OrBuddy demo video!
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window